<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>604426396948-o485a6hogo483na3dcq675cb1sbe80mu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.604426396948-o485a6hogo483na3dcq675cb1sbe80mu</string>
	<key>API_KEY</key>
	<string>AIzaSyD-Kl5JpDQIiBSm-3kuInSlS3B5P9512EQ</string>
	<key>GCM_SENDER_ID</key>
	<string>604426396948</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projectManagement</string>
	<key>PROJECT_ID</key>
	<string>vacdashboard-b7cf5</string>
	<key>STORAGE_BUCKET</key>
	<string>vacdashboard-b7cf5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:604426396948:ios:0775b1d3ce4c60c6858e01</string>
	<key>DATABASE_URL</key>
	<string>https://vacdashboard-b7cf5-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>